<div class="container mx-auto mt-12">
    <div class="mb-6 flex justify-between items-center">
        <h2 class="text-2xl font-bold">Your Dashboard</h2>
        <a href="/posts/new" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create New
            Post</a>
    </div>

    {{#each posts}}
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <a href="/posts/edit/{{id}}" class="text-xl font-bold mb-2">{{title}}</a>
    </div>
    {{else}}
    <p class="text-gray-700">You haven't created any posts yet. Start by clicking "Create New Post" above.</p>
    {{/each}}
</div>